APP_ADDR=:8080
APP_BASE_URL=http://localhost:8080
DATABASE_URL=
JWT_SECRET=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@localhost
REDIRECT_CACHE_ENABLED=false
REDIS_URL=redis://redis:6379/0
REDIRECT_CACHE_TIMEOUT=250ms
CLICK_QUEUE_ENABLED=false
RABBITMQ_URL=amqp://rabbitmq:5672/
CLICK_QUEUE_CONFIRM_TIMEOUT=250ms
