openapi: 3.0.3
info:
  title: ShortQ API
  version: 2.2.0
  description: ShortQ technical API. Link slugs are immutable after creation. Dynamic routing never uses permanent redirects. Cursor pagination and transactional bulk operations support large link sets. Raw click IPs are retained for 90 days; daily aggregates remain available.
servers:
  - url: https://s.alvaauto.com
    description: Production
  - url: https://s.ilectraev.com
    description: Development server 54
  - url: http://localhost:8080
    description: Local development
security:
  - bearerAuth: []
  - apiKeyAuth: []
  - shortioApiKeyAuth: []
paths:
  /healthz:
    get:
      security: []
      responses:
        '200': {description: OK}
  /api/v1/auth/register:
    post:
      security: []
      description: Disabled; ShortQ uses Microsoft SSO.
      responses: {'410': {description: Password registration disabled}}
  /api/v1/auth/login:
    post:
      security: []
      description: Disabled; use the Microsoft login flow.
      responses: {'410': {description: Password login disabled}}
  /api/v1/auth/forgot-password:
    post:
      security: []
      description: Disabled; use Microsoft account recovery.
      responses: {'410': {description: Password reset disabled}}
  /api/v1/auth/change-password:
    post:
      description: Disabled; use Microsoft account settings.
      responses: {'410': {description: Password change disabled}, '401': {description: Authentication required}}
  /api/v1/me:
    get:
      responses: {'200': {description: Current effective user and dashboard mode, content: {application/json: {schema: {$ref: '#/components/schemas/SessionUser'}}}}}
  /api/v1/session/mode:
    post:
      description: SSO-session only. Switch an admin account between server-enforced admin and user modes.
      requestBody:
        required: true
        content:
          application/json:
            schema: {type: object, required: [mode], properties: {mode: {type: string, enum: [admin, user]}}}
      responses: {'200': {description: Updated session user}, '400': {description: Invalid mode}, '403': {description: Admin account required}}
  /api/v1/reports/links/{id}:
    get:
      description: Comprehensive link report. Owners and scoped admins can view private links; department-shared links are readable by users in the same department. Deleted links remain reportable to their owner and scoped admins.
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer, minimum: 1}}
        - {name: from, in: query, schema: {type: string, format: date}, description: First local day, inclusive.}
        - {name: to, in: query, schema: {type: string, format: date}, description: Last boundary date, exclusive.}
        - {name: timezone, in: query, schema: {type: string, example: Asia/Jakarta}, description: IANA timezone; defaults to UTC.}
      responses: {'200': {description: Link report, content: {application/json: {schema: {$ref: '#/components/schemas/AnalyticsReport'}}}}, '400': {description: Invalid or more than 90-day range}, '404': {description: Link not visible}}
  /api/v1/reports/links/{id}/summary.csv:
    get:
      description: Aggregated KPI, daily, and breakdown export for a visible link.
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer, minimum: 1}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
        - {name: timezone, in: query, schema: {type: string}}
      responses: {'200': {description: Summary CSV, content: {text/csv: {schema: {type: string}}}}}
  /api/v1/reports/links/{id}/events.csv:
    get:
      description: Privacy-safe event export. Excludes IP, raw user agent, full referrer URL, and resolved destination URL.
      parameters:
        - {name: id, in: path, required: true, schema: {type: integer, minimum: 1}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
        - {name: timezone, in: query, schema: {type: string}}
      responses: {'200': {description: Events CSV, content: {text/csv: {schema: {type: string}}}}}
  /api/v1/reports/users/{id}:
    get:
      description: Report across links owned by one user. Use me for the current user. Superadmins may inspect any user; department admins may inspect users in their department.
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, pattern: '^(me|[1-9][0-9]*)$'}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
        - {name: timezone, in: query, schema: {type: string, example: Asia/Jakarta}}
      responses: {'200': {description: User report, content: {application/json: {schema: {$ref: '#/components/schemas/AnalyticsReport'}}}}, '400': {description: Invalid or more than 90-day range}, '404': {description: User not visible}}
  /api/v1/reports/users/{id}/summary.csv:
    get:
      description: Aggregated KPI, daily, and breakdown export for a visible user report.
      parameters:
        - {name: id, in: path, required: true, schema: {type: string}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
        - {name: timezone, in: query, schema: {type: string}}
      responses: {'200': {description: Summary CSV, content: {text/csv: {schema: {type: string}}}}}
  /api/v1/reports/users/{id}/events.csv:
    get:
      description: Privacy-safe event export for links owned by a visible user.
      parameters:
        - {name: id, in: path, required: true, schema: {type: string}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
        - {name: timezone, in: query, schema: {type: string}}
      responses: {'200': {description: Events CSV, content: {text/csv: {schema: {type: string}}}}}
  /api/v1/analytics:
    get:
      description: Legacy overview. Scope follows role. Superadmin sees all, tenant sees own tenant, and customer sees owned links.
      responses: {'200': {description: Analytics summary, content: {application/json: {schema: {$ref: '#/components/schemas/Analytics'}}}}}
  /api/v1/analytics/timeseries:
    get:
      parameters:
        - {name: link_id, in: query, schema: {type: integer}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
      responses: {'200': {description: Daily click totals, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/AnalyticsPoint'}}}}}}
  /api/v1/analytics/breakdown:
    get:
      parameters:
        - {name: group_by, in: query, required: true, schema: {type: string, enum: [country, device, browser, referrer, campaign, route, status]}}
        - {name: link_id, in: query, schema: {type: integer}}
        - {name: from, in: query, schema: {type: string, format: date}}
        - {name: to, in: query, schema: {type: string, format: date}}
      responses: {'200': {description: Aggregated click breakdown, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/AnalyticsPoint'}}}}}}
  /api/v1/clicks:
    get:
      description: Cursor-paginated raw click events. Supports link_id, country, device, browser, campaign, route_type, from and to filters.
      parameters:
        - {name: cursor, in: query, schema: {type: integer}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 200}}
        - {name: link_id, in: query, schema: {type: integer}}
        - {name: country, in: query, schema: {type: string, minLength: 2, maxLength: 2}}
        - {name: device, in: query, schema: {type: string}}
        - {name: browser, in: query, schema: {type: string}}
        - {name: campaign, in: query, schema: {type: string}}
        - {name: route_type, in: query, schema: {type: string}}
        - {name: from, in: query, schema: {type: string, format: date-time}}
        - {name: to, in: query, schema: {type: string, format: date-time}}
      responses: {'200': {description: Click event page, content: {application/json: {schema: {$ref: '#/components/schemas/ClickPage'}}}}}
  /api/v1/tenants:
    get:
      description: Superadmin only.
      responses: {'200': {description: List tenants}}
    post:
      description: Disabled because ALVA is the fixed department.
      responses: {'409': {description: The ALVA department is fixed}}
  /api/v1/customers:
    get:
      description: Superadmin lists tenant/customer users. Tenant lists customers in own tenant.
      responses: {'200': {description: List users}}
    post:
      description: Superadmin creates tenant/customer users. Tenant creates customers in own tenant.
      requestBody:
        content:
          application/json:
            schema: {type: object, required: [email, name, password], properties: {email: {type: string}, name: {type: string}, password: {type: string, minLength: 8}, role: {type: string, enum: [tenant, customer]}, tenant_id: {type: integer}}}
      responses: {'201': {description: User created}}
  /api/v1/customers/{id}/deletion-access:
    patch:
      description: Superadmin only. Activates or deactivates deletion access for a user.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, required: [enabled], properties: {enabled: {type: boolean}}}}}}
      responses: {'200': {description: Updated user}, '403': {description: Superadmin only}}
  /api/v1/audit-events:
    get:
      description: Superadmin-only cursor-paginated administrative audit log retained for 365 days.
      parameters:
        - {name: cursor, in: query, schema: {type: integer}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 500}}
        - {name: actor, in: query, schema: {type: string}}
        - {name: action, in: query, schema: {type: string}}
        - {name: target_type, in: query, schema: {type: string}}
        - {name: outcome, in: query, schema: {type: string, enum: [success, denied]}}
        - {name: from, in: query, schema: {type: string, format: date-time}}
        - {name: to, in: query, schema: {type: string, format: date-time}}
      responses: {'200': {description: Audit event page}, '403': {description: Superadmin only}}
  /api/v1/domains:
    get:
      description: Lists custom domains in the authenticated tenant scope.
      responses: {'200': {description: Custom domains, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/TenantDomain'}}}}}}
    post:
      description: Adds a custom domain in pending state and returns its DNS verification token.
      requestBody:
        required: true
        content: {application/json: {schema: {type: object, required: [tenant_id, domain], properties: {tenant_id: {type: integer}, domain: {type: string}}}}}
      responses: {'201': {description: Pending custom domain}, '400': {description: Invalid or duplicate domain}}
  /api/v1/domains/{id}:
    patch:
      description: Sets or clears the redirect used when a slug is missing on this active custom domain.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, required: [not_found_url], properties: {not_found_url: {type: string, format: uri, nullable: true}}}}}}
      responses: {'200': {description: Updated domain}, '400': {description: Invalid fallback URL}}
    delete:
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      responses: {'204': {description: Domain deleted}}
  /api/v1/domains/{id}/verify:
    post:
      description: Verifies the configured CNAME or `_shortq` TXT record and activates the domain.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      responses: {'200': {description: Domain activated}, '400': {description: DNS not verified}}
  /links:
    post:
      description: "Short.io-compatible create-link endpoint for config-only client switches. Uses Authorization: APIKEY and maps originalURL to ShortQ target_url, path to slug, and domain to an active tenant domain."
      security:
        - shortioApiKeyAuth: []
        - apiKeyAuth: []
      requestBody:
        required: true
        content: {application/json: {schema: {$ref: '#/components/schemas/ShortioLinkWrite'}}}
      responses: {'200': {description: Short.io-shaped link response, content: {application/json: {schema: {$ref: '#/components/schemas/ShortioLink'}}}}, '400': {description: Invalid payload}, '404': {description: Domain not found in caller scope}, '409': {description: Slug collision}}
  /links/{link_id}:
    delete:
      description: Short.io-compatible delete-link endpoint. Accepts the `idString` returned by `POST /links`, for example `lnk_shortq_123`, and also accepts numeric ShortQ IDs.
      security:
        - shortioApiKeyAuth: []
        - apiKeyAuth: []
      parameters: [{name: link_id, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Deleted, content: {application/json: {schema: {type: object, properties: {success: {type: boolean}, id: {type: string}, idString: {type: string}}}}}}, '403': {description: Deletion access required}, '404': {description: Link not found}}
  /api/v1/links:
    get:
      description: Backward-compatible unpaginated list. New integrations should use `/api/v1/links/page`.
      responses: {'200': {description: List links, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/Link'}}}}}}
    post:
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - {$ref: '#/components/schemas/LinkWrite'}
                - anyOf:
                    - {required: [url]}
                    - {required: [target_url]}
      responses: {'201': {description: Link created, content: {application/json: {schema: {$ref: '#/components/schemas/Link'}}}}, '400': {description: Invalid link settings or JSON}}
  /api/v1/links/page:
    get:
      description: Scalable cursor-paginated link listing with geo targets hydrated in bounded batches.
      parameters:
        - {name: cursor, in: query, schema: {type: integer, minimum: 1}}
        - {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 500, default: 100}}
      responses: {'200': {description: Link page, content: {application/json: {schema: {$ref: '#/components/schemas/LinkPage'}}}}, '400': {description: Invalid cursor or limit}}
  /api/v1/links/{id}:
    get:
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      responses: {'200': {description: Link details, content: {application/json: {schema: {$ref: '#/components/schemas/Link'}}}}, '404': {description: Link not found}}
    patch:
      description: Updates the destination and technical rules. Supplying slug is rejected because slugs are immutable.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      requestBody:
        content: {application/json: {schema: {$ref: '#/components/schemas/LinkWrite'}}}
      responses: {'200': {description: Updated link}, '400': {description: Invalid settings or attempted slug update}}
    put:
      description: Same partial-update semantics as PATCH. The slug remains immutable.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      requestBody:
        content: {application/json: {schema: {$ref: '#/components/schemas/LinkWrite'}}}
      responses: {'200': {description: Updated link, content: {application/json: {schema: {$ref: '#/components/schemas/Link'}}}}, '400': {description: Invalid settings or attempted slug update}}
    delete:
      description: Soft-deletes the link. Redirecting stops immediately while retained analytics and the globally unique slug remain reserved.
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      responses: {'204': {description: Soft-deleted}}
  /api/v1/links/import:
    post:
      description: Imports up to 10,000 CSV rows. Use dry_run=true to validate without writing. The destination column may be named `url` or `target_url`; if both are present, their values must match.
      parameters: [{name: dry_run, in: query, schema: {type: boolean}}]
      requestBody: {required: true, content: {text/csv: {schema: {type: string, format: binary}}, multipart/form-data: {schema: {type: object, properties: {file: {type: string, format: binary}}}}}}
      responses: {'201': {description: Transactional import completed}, '400': {description: Invalid or oversized CSV}, '409': {description: No rows imported because a write or slug collision failed}, '422': {description: No rows imported; validation errors by row}}
  /api/v1/links/export.csv:
    get:
      responses: {'200': {description: Scoped link export, content: {text/csv: {schema: {type: string}}}}}
  /api/v1/links/bulk:
    patch:
      description: Transactionally applies one settings patch to up to 500 unique links using one scoped lock and prepared writes. If any link or setting is invalid, no links are updated. Slugs cannot be changed.
      requestBody: {content: {application/json: {schema: {type: object, required: [ids, set], properties: {ids: {type: array, maxItems: 500, items: {type: integer}}, set: {$ref: '#/components/schemas/LinkWrite'}}}}}}
      responses: {'200': {description: Updated links}, '400': {description: Invalid IDs or settings}, '404': {description: One or more scoped links not found}, '409': {description: No links updated because the transaction failed}}
    delete:
      description: Transactionally soft-deletes up to 500 unique links. If any scoped link is absent, no links are deleted. Analytics are retained and slugs remain reserved.
      requestBody: {required: true, content: {application/json: {schema: {type: object, required: [ids], properties: {ids: {type: array, minItems: 1, maxItems: 500, uniqueItems: true, items: {type: integer, minimum: 1}}}}}}}
      responses: {'200': {description: Deleted count}, '400': {description: Invalid IDs}, '404': {description: One or more links not found; no links deleted}}
  /api/v1/qr:
    get:
      security: []
      parameters:
        - {name: text, in: query, schema: {type: string}}
        - {name: url, in: query, schema: {type: string}}
        - {name: format, in: query, schema: {type: string, enum: [png, svg, pdf], default: png}}
        - {name: size, in: query, schema: {type: integer, minimum: 128, maximum: 2048, default: 512}}
        - {name: foreground, in: query, schema: {type: string, example: '#000000'}}
        - {name: background, in: query, schema: {type: string, example: '#ffffff'}}
        - {name: logo, in: query, schema: {type: boolean, default: true}}
        - {name: margin, in: query, schema: {type: integer, enum: [0, 1], default: 1}}
      responses:
        '200': {description: Branded QR, content: {image/png: {schema: {type: string, format: binary}}, image/svg+xml: {schema: {type: string}}, application/pdf: {schema: {type: string, format: binary}}}}
  /api/v1/api-keys:
    get:
      responses: {'200': {description: List API keys visible in the current account or user scope}}
    post:
      requestBody:
        content:
          application/json:
            schema: {type: object, required: [name], properties: {name: {type: string, minLength: 1, maxLength: 120}}}
      responses:
        '201':
          description: New API key, only shown once; scope is derived from dashboard mode.
          content:
            application/json:
              schema:
                type: object
                required: [id, name, key, prefix, scope]
                properties:
                  id: {type: integer}
                  name: {type: string}
                  key: {type: string, writeOnly: true}
                  prefix: {type: string}
                  scope: {type: string, enum: [account, user]}
  /api/v1/api-keys/{id}:
    delete:
      parameters: [{name: id, in: path, required: true, schema: {type: integer}}]
      responses: {'204': {description: Revoked}}
  /r/{slug}:
    get:
      security: []
      parameters: [{name: slug, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Password form when protected}, '301': {description: Permanent redirect}, '302': {description: Temporary redirect}, '307': {description: Method-preserving temporary redirect}, '308': {description: Method-preserving permanent redirect}, '410': {description: Link expired}}
    post:
      security: []
      description: Submits a protected-link password. Successful access sets a signed, secure, 12-hour cookie.
      parameters: [{name: slug, in: path, required: true, schema: {type: string}}]
      requestBody: {content: {application/x-www-form-urlencoded: {schema: {type: object, required: [password], properties: {password: {type: string}}}}}}
      responses: {'303': {description: Password accepted}, '200': {description: Password form with validation error}, '429': {description: Too many failed attempts}}
  /{slug}:
    get:
      security: []
      description: Canonical public short-link route. Routing and response behavior match `/r/{slug}`.
      parameters: [{name: slug, in: path, required: true, schema: {type: string}}]
      responses: {'200': {description: Password form when protected}, '301': {description: Permanent redirect}, '302': {description: Temporary redirect}, '307': {description: Method-preserving temporary redirect}, '308': {description: Method-preserving permanent redirect}, '410': {description: Link expired}, '404': {description: Slug not found}}
    post:
      security: []
      description: Submits a protected-link password.
      parameters: [{name: slug, in: path, required: true, schema: {type: string}}]
      requestBody: {content: {application/x-www-form-urlencoded: {schema: {type: object, required: [password], properties: {password: {type: string}}}}}}
      responses: {'303': {description: Password accepted}, '200': {description: Password form with validation error}, '429': {description: Too many failed attempts}}
components:
  securitySchemes:
    bearerAuth: {type: http, scheme: bearer, bearerFormat: JWT}
    apiKeyAuth: {type: apiKey, in: header, name: X-API-Key}
    shortioApiKeyAuth: {type: apiKey, in: header, name: Authorization}
  requestBodies:
    Register:
      content:
        application/json:
          schema: {type: object, required: [email, name, password], properties: {email: {type: string, format: email}, name: {type: string}, password: {type: string, minLength: 8}}}
    Login:
      content:
        application/json:
          schema: {type: object, required: [email, password], properties: {email: {type: string}, password: {type: string}}}
  schemas:
    User:
      type: object
      properties: {id: {type: integer}, tenant_id: {type: integer, nullable: true}, email: {type: string}, name: {type: string}, role: {type: string, enum: [superadmin, tenant, customer]}, deletion_access: {type: boolean}}
    SessionUser:
      allOf:
        - {$ref: '#/components/schemas/User'}
        - type: object
          properties: {actual_role: {type: string, enum: [superadmin, tenant, customer]}, dashboard_mode: {type: string, enum: [admin, user]}, can_switch_mode: {type: boolean}, can_delete: {type: boolean}}
    AuditEvent:
      type: object
      properties: {id: {type: integer}, actor_user_id: {type: integer, nullable: true}, actor_email: {type: string}, auth_type: {type: string}, action: {type: string}, target_type: {type: string}, target_id: {type: string}, outcome: {type: string, enum: [success, denied]}, before: {type: object}, after: {type: object}, ip_address: {type: string}, user_agent: {type: string}, created_at: {type: string, format: date-time}}
    Analytics:
      type: object
      properties: {total_links: {type: integer}, total_clicks: {type: integer}, today_clicks: {type: integer}, total_tenants: {type: integer}, total_users: {type: integer}}
    AnalyticsPoint:
      type: object
      required: [key, clicks]
      properties: {key: {type: string}, clicks: {type: integer}}
    ReportSummary:
      type: object
      properties:
        all_time_clicks: {type: integer}
        period_clicks: {type: integer}
        human_clicks: {type: integer}
        bot_clicks: {type: integer}
        estimated_unique_visitors: {type: integer, description: Distinct IP estimate among successful human redirects within retained detail.}
        expired_attempts: {type: integer}
        average_clicks_per_day: {type: number, format: double}
        peak_day: {type: string, format: date}
        peak_day_clicks: {type: integer}
        previous_period_clicks: {type: integer, nullable: true}
        change_percent: {type: number, format: double, nullable: true}
        active_links: {type: integer}
        deleted_links: {type: integer}
        private_links: {type: integer}
        shared_links: {type: integer}
    ReportDailyPoint:
      type: object
      required: [day, clicks, human_clicks, bot_clicks]
      properties: {day: {type: string, format: date}, clicks: {type: integer}, human_clicks: {type: integer}, bot_clicks: {type: integer}}
    SafeClickEvent:
      type: object
      description: Privacy-safe event without IP, raw user agent, full referrer, or resolved URL.
      properties: {id: {type: integer}, link_id: {type: integer}, slug: {type: string}, country_code: {type: string}, status_code: {type: integer}, route_type: {type: string}, browser: {type: string}, os: {type: string}, device: {type: string}, is_bot: {type: boolean}, referrer_host: {type: string}, utm_source: {type: string}, utm_medium: {type: string}, utm_campaign: {type: string}, created_at: {type: string, format: date-time}}
    ReportLinkRank:
      type: object
      properties: {id: {type: integer}, slug: {type: string}, title: {type: string}, visibility: {type: string, enum: [private, department]}, period_clicks: {type: integer}, all_time_clicks: {type: integer}, deleted_at: {type: string, format: date-time, nullable: true}}
    AnalyticsReport:
      type: object
      required: [subject, from, to, timezone, detail_retained_days, unique_is_estimate, summary, daily, breakdowns, recent_events]
      properties:
        subject: {type: object, additionalProperties: true}
        from: {type: string, format: date}
        to: {type: string, format: date}
        timezone: {type: string}
        detail_retained_days: {type: integer, example: 90}
        unique_is_estimate: {type: boolean}
        summary: {$ref: '#/components/schemas/ReportSummary'}
        daily: {type: array, items: {$ref: '#/components/schemas/ReportDailyPoint'}}
        breakdowns:
          type: object
          additionalProperties: {type: array, items: {$ref: '#/components/schemas/AnalyticsPoint'}}
        top_links: {type: array, items: {$ref: '#/components/schemas/ReportLinkRank'}}
        recent_events: {type: array, items: {$ref: '#/components/schemas/SafeClickEvent'}}
    GeoTarget:
      type: object
      required: [country_code, target_url]
      properties: {country_code: {type: string, minLength: 2, maxLength: 2}, target_url: {type: string, format: uri}}
    TenantDomain:
      type: object
      properties:
        id: {type: integer}
        tenant_id: {type: integer}
        domain: {type: string}
        status: {type: string, enum: [pending, active]}
        verification_token: {type: string}
        not_found_url: {type: string, format: uri}
        verified_at: {type: string, format: date-time, nullable: true}
    LinkWrite:
      type: object
      properties:
        url: {type: string, format: uri, description: Destination URL. Kept for backward compatibility; target_url is also accepted.}
        target_url: {type: string, format: uri, description: Destination URL alias matching the Link response field. If both aliases are supplied they must match.}
        slug: {type: string, minLength: 3, maxLength: 80, description: Create only; immutable afterward.}
        title: {type: string}
        visibility: {type: string, enum: [private, department], default: private, description: Dashboard/report visibility only; the public redirect remains public unless password-protected.}
        redirect_code: {type: integer, enum: [301, 302, 307, 308], default: 302, description: 301 and 308 require all dynamic routing, password, expiry, click-limit and query-forwarding features to be disabled.}
        expires_at: {type: string, format: date-time, nullable: true}
        max_clicks: {type: integer, minimum: 1, nullable: true}
        clear_max_clicks: {type: boolean}
        expired_url: {type: string, format: uri}
        ios_url: {type: string, format: uri}
        android_url: {type: string, format: uri}
        forward_query: {type: boolean, default: true}
        utm_source: {type: string}
        utm_medium: {type: string}
        utm_campaign: {type: string}
        utm_term: {type: string}
        utm_content: {type: string}
        tags: {type: array, maxItems: 20, items: {type: string}}
        geo_targets: {type: array, items: {$ref: '#/components/schemas/GeoTarget'}}
        password: {type: string, minLength: 8, writeOnly: true}
        clear_password: {type: boolean}
    ShortioLinkWrite:
      type: object
      required: [originalURL, domain]
      properties:
        originalURL: {type: string, format: uri}
        domain: {type: string}
        path: {type: string, nullable: true}
        title: {type: string}
        tags: {type: array, items: {type: string}}
        redirectType: {type: integer, enum: [301, 302, 307, 308], nullable: true}
        expiresAt: {oneOf: [{type: string}, {type: number}], description: RFC3339, YYYY-MM-DD, or milliseconds.}
        ttl: {oneOf: [{type: string}, {type: number}], description: RFC3339, YYYY-MM-DD, or milliseconds.}
        expiredURL: {type: string, format: uri, nullable: true}
        androidURL: {type: string, format: uri, nullable: true}
        iphoneURL: {type: string, format: uri, nullable: true}
        clicksLimit: {type: integer, minimum: 1, nullable: true}
        skipQS: {type: boolean}
        password: {type: string, minLength: 8}
        utmSource: {type: string}
        utmMedium: {type: string}
        utmCampaign: {type: string}
        utmTerm: {type: string}
        utmContent: {type: string}
        allowDuplicates: {type: boolean}
    ShortioLink:
      type: object
      properties:
        originalURL: {type: string, format: uri}
        path: {type: string}
        id: {type: string}
        idString: {type: string}
        shortURL: {type: string, format: uri}
        secureShortURL: {type: string, format: uri}
        tags: {type: array, items: {type: string}}
        createdAt: {type: string, format: date-time}
        skipQS: {type: boolean}
        archived: {type: boolean}
        hasPassword: {type: boolean}
        source: {type: string}
        success: {type: boolean}
        duplicate: {type: boolean}
    Link:
      type: object
      required: [id, user_id, slug, target_url, title, visibility, short_url, clicks, redirect_code, forward_query, tags, geo_targets, password_protected, created_at]
      properties:
        id: {type: integer}
        user_id: {type: integer}
        creator_name: {type: string, description: Present in admin-scoped link listings.}
        creator_email: {type: string, format: email, description: Present in admin-scoped link listings.}
        tenant_id: {type: integer, nullable: true}
        slug: {type: string}
        target_url: {type: string, format: uri}
        title: {type: string}
        visibility: {type: string, enum: [private, department]}
        short_url: {type: string, format: uri}
        clicks: {type: integer}
        redirect_code: {type: integer, enum: [301, 302, 307, 308]}
        expires_at: {type: string, format: date-time, nullable: true}
        max_clicks: {type: integer, nullable: true}
        expired_url: {type: string, format: uri}
        ios_url: {type: string, format: uri}
        android_url: {type: string, format: uri}
        forward_query: {type: boolean}
        utm_source: {type: string}
        utm_medium: {type: string}
        utm_campaign: {type: string}
        utm_term: {type: string}
        utm_content: {type: string}
        tags: {type: array, items: {type: string}}
        geo_targets: {type: array, items: {$ref: '#/components/schemas/GeoTarget'}}
        password_protected: {type: boolean}
        created_at: {type: string, format: date-time}
        deleted_at: {type: string, format: date-time, nullable: true}
    LinkPage:
      type: object
      required: [items]
      properties:
        items: {type: array, items: {$ref: '#/components/schemas/Link'}}
        next_cursor: {type: integer}
    ClickEvent:
      type: object
      properties:
        id: {type: integer}
        link_id: {type: integer}
        slug: {type: string}
        ip: {type: string}
        country_code: {type: string}
        method: {type: string}
        status_code: {type: integer}
        resolved_url: {type: string}
        route_type: {type: string, enum: [default, country, ios, android, expired]}
        user_agent: {type: string}
        browser: {type: string}
        os: {type: string}
        device: {type: string}
        is_bot: {type: boolean}
        referrer: {type: string}
        referrer_host: {type: string}
        utm_source: {type: string}
        utm_medium: {type: string}
        utm_campaign: {type: string}
        created_at: {type: string, format: date-time}
    ClickPage:
      type: object
      required: [items]
      properties:
        items: {type: array, items: {$ref: '#/components/schemas/ClickEvent'}}
        next_cursor: {type: integer}
